
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Artist Info App</title>
</head>
<body>
    <div class="container">
        <h1>Music Artist Info App</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>song</th>
                    <th>Album</th>
                    <th>Add</th>
                </tr>
                <tr>
<!--                     change to artist
 -->                    <td><input class="form-control artist-input"></td>
<!--                         change to song
 -->                    <td><input class="form-control song-input"></td>
                    <!-- change to album -->
                    <td><input class="form-control album-input"></td>
                    <!-- <td><button class="btn btn-primary add-artistInfo">Add</button> -->
                    <td><button class="btn add-blog">Add</button></td>
                </tr>
            </thead>
            <tbody class="artists-list"></tbody>
        </table>
    </div>

    <script type="text/template" class="artist-list-template">

    <td><span class="artist"><%= artist %></span></td>
   <td><span class="song"><%= song %></span></td>
   <td><span class="album"><%= album %></span></td>
   <td><button class="edit-artistInfo">Edit</button> <button class=" delete-artistInfo">Delete</button>

    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
</body>
</html>
<script src='bower_components/jquery/dist/jquery.js'></script>
<script src='bower_components/underscore/underscore.js'></script>
<script src='bower_components/backbone/backbone.js'></script>

<script type="text/javascript">

var ArtistInfo = Backbone.Model.extend({
   defaults: {
        artist: '',
        song: '',
        album: ''
    }
});

// Backbone Collection

var ArtistList = Backbone.Collection.extend({});


// instantiate a Collection
var artists = new ArtistList();

// Backbone View for one blog
var ArtistView = Backbone.View.extend({
    // model: new ArtistInfo
    model: new ArtistInfo(),
    tagName: 'tr',
    initialize: function() {
        this.template = _.template($('.artist-list-template').html());
    },
    events: {
        
        'click .edit-artistInfo': 'edit',
        'click .delete-artistInfo': 'delete'
    },
    edit: function() {
      
        $('.edit-artistInfo').hide();
        $('.delete-artistInfo').hide();
     
        var artist = this.$('.artist').html();
        var song = this.$('.song').html();
        var album = this.$('.album').html();
        this.$('.artist').html('<input type="text" class="form-control artist-update" value="' + artist + '">');
        this.$('.song').html('<input type="text" class="form-control song-update" value="' + song + '">');
        this.$('.album').html('<input type="text" class="form-control album-update" value="' + album + '">');
    },
    delete: function() {
        this.model.destroy();
    },
    render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        return this;
    }
});

// Backbone View for all blogs

var ArtistInfoView = Backbone.View.extend({
    model: artists,
    el: $('.artists-list'),
    initialize: function() {
        var that = this;
        this.model.on('add', this.render, this);
        this.model.on('change', function() {
            setTimeout(function() {
                that.render();
            }, 30);
        },this);
        this.model.on('remove', this.render, this);
    },
    render: function() {
        var that = this;
        this.$el.html('');
        _.each(this.model.toArray(), function(artist) {
            that.$el.append((new ArtistView({model: artist})).render().$el);
        });
        return this;
    }
});
var artistInfoView = new ArtistInfoView();

$(document).ready(function() {
    $('.add-artist').on('click', function() {
        var artist = new ArtistInfo({
            artist: $('.artist-input').val(),
            song: $('.song-input').val(),
            album: $('.album-input').val()
        });
        $('.artist-input').val('');
        $('.song-input').val('');
        $('.album-input').val('');
        console.log(artist.toJSON());
        artists.add(artist);
    })
})

</script>

</body>
</html>
